doc/
config
xml/*
config/database.yml
db/*.sqlite3
log/*
sdps/*
tmp/*
public/stylesheets/*.css
config/environment.rb
*~
*#
.#*
public/java/*jar
lib/vlcrunner/build
lib/vlcrunner/build.xml
vendor/plugins/haml/init.rb
node-lib/riak*/data
node-lib/riak*/log
*/log/*
