body {
    background: #333;
    color: black;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}

.chat-messages {
overflow: auto;
text-align: left;
margin: 20px;
}

.chat-messages .message .nick,.body {
display: inline;
}

.chat-messages .message .nick {
font-weight: bold;
padding-right: 30px;
}

.system-messages {
margin-bottom: 5px;
}

.chat { 
position: absolute;
bottom: 0px;
margin: 0 auto;
text-align: center;
z-index: 10000;
background: #323232;
color: white;
width: 100%;
}

.chat .message {
width: 400px;
}